.root
    margin: 0
    padding: 0

// 初期化
.input
    outline: 0
    border: 0
    line-height: 2rem
    background-color: rgba(0, 0, 0, 0)
    font-family: sans-serif
    outline: 0
    border: 0

// 追加要素
.input
    & + .border
        transition: 150ms
        transition-timing-function: ease-out
        transition-property: transform, opacity
        transform: scaleX(0)
        opacity: 0

    &:focus + .border
        transform: scaleX(1)
        opacity: 1
        content: "sample"
        display: block
        width: 100%
        outline: solid #000 1px
        outline-color: rgba(50, 50, 50, 0.5)
